<div class="blx-popover-button-row">
    <PopoverTrigger Handle="@demoPopover" Id="trigger-1" class="blx-popover-button">
        Trigger 1
    </PopoverTrigger>
    <PopoverTrigger Handle="@demoPopover" Id="trigger-2" class="blx-popover-button">
        Trigger 2
    </PopoverTrigger>
    <PopoverTrigger Handle="@demoPopover" Id="trigger-3" class="blx-popover-button">
        Trigger 3
    </PopoverTrigger>
    <button type="button" class="blx-popover-button" @onclick="OpenProgrammatically">
        Open programmatically
    </button>
</div>

<PopoverRoot Handle="@demoPopover"
             Open="@open"
             OnOpenChange="HandleOpenChange"
             TriggerId="@triggerId">
    <ChildContent Context="payloadContext">
        <PopoverPortal>
            <PopoverPositioner SideOffset="8" class="blx-popover-positioner">
                <PopoverPopup class="blx-popover-popup">
                    <PopoverArrow class="blx-popover-arrow" />
                    <PopoverTitle class="blx-popover-title">Notifications</PopoverTitle>
                    <PopoverDescription class="blx-popover-description">
                        You are all caught up. Good job!
                    </PopoverDescription>
                </PopoverPopup>
            </PopoverPositioner>
        </PopoverPortal>
    </ChildContent>
</PopoverRoot>

@code {
    private readonly PopoverHandle demoPopover = PopoverHandleFactory.CreateHandle();
    private bool open;
    private string? triggerId;

    private void HandleOpenChange(PopoverOpenChangeEventArgs args)
    {
        open = args.Open;
        triggerId = args.TriggerId;
    }

    private void OpenProgrammatically()
    {
        triggerId = "trigger-2";
        open = true;
    }
}
