<RadioGroup TValue="string"
            aria-labelledby="@captionId"
            DefaultValue="@("fuji-apple")"
            class="flex flex-col items-start gap-1 text-neutral-950 dark:text-white">
    <div class="text-sm font-bold" id="@captionId">
        Best apple
    </div>

    <label class="flex items-center gap-2 text-sm font-normal text-neutral-950 dark:text-white">
        <RadioRoot TValue="string"
                   Value="@("fuji-apple")"
                   class="flex size-4 shrink-0 items-center justify-center rounded-full border border-neutral-950 bg-white p-0 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-950 data-[checked]:bg-neutral-950 data-[checked]:text-white dark:border-white dark:bg-neutral-950 dark:text-neutral-950 dark:focus-visible:outline-white dark:data-[checked]:bg-white dark:data-[checked]:text-neutral-950">
            <RadioIndicator class="flex items-center justify-center data-[unchecked]:hidden before:size-2 before:rounded-full before:bg-current" />
        </RadioRoot>
        Fuji
    </label>

    <label class="flex items-center gap-2 text-sm font-normal text-neutral-950 dark:text-white">
        <RadioRoot TValue="string"
                   Value="@("gala-apple")"
                   class="flex size-4 shrink-0 items-center justify-center rounded-full border border-neutral-950 bg-white p-0 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-950 data-[checked]:bg-neutral-950 data-[checked]:text-white dark:border-white dark:bg-neutral-950 dark:text-neutral-950 dark:focus-visible:outline-white dark:data-[checked]:bg-white dark:data-[checked]:text-neutral-950">
            <RadioIndicator class="flex items-center justify-center data-[unchecked]:hidden before:size-2 before:rounded-full before:bg-current" />
        </RadioRoot>
        Gala
    </label>

    <label class="flex items-center gap-2 text-sm font-normal text-neutral-950 dark:text-white">
        <RadioRoot TValue="string"
                   Value="@("granny-smith-apple")"
                   class="flex size-4 shrink-0 items-center justify-center rounded-full border border-neutral-950 bg-white p-0 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-950 data-[checked]:bg-neutral-950 data-[checked]:text-white dark:border-white dark:bg-neutral-950 dark:text-neutral-950 dark:focus-visible:outline-white dark:data-[checked]:bg-white dark:data-[checked]:text-neutral-950">
            <RadioIndicator class="flex items-center justify-center data-[unchecked]:hidden before:size-2 before:rounded-full before:bg-current" />
        </RadioRoot>
        Granny Smith
    </label>
</RadioGroup>

@code {
    private readonly string captionId = $"radio-group-label-{Guid.NewGuid():N}";
}
